# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/
.coverage

# Local env
.env
